* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

/* TOP BAR */
.topbar {
  background: #6a2c91;
  color: #fff;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  position: relative;
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470") center/cover;
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}
.hero-content {
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-whatsapp-btn{
  background: #31c320;
  padding: 14px 14px;
  color: #000;
  max-width: 200px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
}
.whatsapp-btn-wrapper {
  display: flex;
  justify-content: center;
}


/* SECTIONS */
.section { padding: 70px 5%; text-align: center; }
.section.light { background: #f6f6f6; }
.section.dark { background: #222; color: #fff; }

.section-title { font-size: 32px; margin-bottom: 10px; }
.section-subtitle { color: #777; }

/* CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}
.tour-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.tour-card img { width: 100%; height: 200px; object-fit: cover; }

.google-reviews-box {
  background: #fff;
  padding: 40px;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.google-logo {
  width: 80px;
  margin-bottom: 10px;
}

.review-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.review-btn {
  background: #e88b1a;
  color: #fff;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}

.review-btn.outline {
  background: #e88b1a;
  border: 2px solid #e8cd1a;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
}
.gallery img { width: 100%; border-radius: 8px; }

/* WHATSAPP */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.whatsapp-float img { 
  width: 34px; 
  background-color: none;
}

/* FOOTER */
.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
}